/* For testing only */
*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

/*This file is for your custom css.  All yours*/
body {
  background-image: url(../img/rag.png);
  background-repeat: repeat-x;
}

.wrapper {
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 2em;
}

.logo {
  background: url(../img/logo-bg.png) no-repeat center top;
  flex-shrink: 0;
  flex-basis: 31.874617%;
}

.logo-text {
  position: relative;
}

img#logo-text {
  position: absolute;
  top: 7em;
  left: 50%;
  transform: translate(-50%, 0);
}

.content {

}

.description h2, .gallery h3 {
  text-align: center;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gallery {
  flex-shrink: 1;
}

.characters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.character-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.character-card img {
  width: 84%;
}

.footer p {
  text-align: center;
}
