/* For testing only */

*:not(body):not(html) {
  box-sizing:border-box;
  border:1px dashed #000;
}

.columns {
  min-height: 100px;
}

/* End for testing */

/*This file is for your custom css.  All yours*/
body {
  background-image: url(../img/rag.png);
  background-repeat: repeat-x;
}

.wrapper {
  width: 93.75%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding: 2em;
}

.logo {
  background-image: url(../img/logo-bg.png);
  background-repeat: no-repeat;
  width: 31.874617%;
}

.content {
  flex-grow: 2;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
